page-start {
  ion-content {
    margin: 0;
    background: white;
  }

  .splash-bg {
    position: relative;
    //background: url('../assets/img/loginBackground.png') repeat-x transparent;
    background-size: cover;
    height: 60%;
    width: 100%;
    z-index: 1;
    animation: animatedBackground 5s linear infinite;
  }

  @keyframes animatedBackground {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 98% 0;
    }
    75% {
      background-position: 50% 0;
    }
    100% {
      background-position: 0 0;
    }
  }

  .splash-info {
    position: relative;
    z-index: 2;
    margin-top: 10px;
    text-align: center;
    color: #706d6d;
    font-size: 28px;
  }

  .splash-intro {
    font-weight: bold;
    max-width: 80%;
    margin: auto;
    h1 {
      font-size: 3rem;
    }
  }

  .signup {
    background-color: #4cd782;
    font-size: 18px;
  }

  button.login {
    margin-top: 25px;
    font-size: 18px;
    background-color: #4cd782;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    color: #ffffff;

    &.activated {
      background-color: rgb(220, 220, 220);
    }
  }
}
