.toolbar-background-md, .tabs-md .tabbar {
  background: #4cd782;
}

.toolbar-title-md {
  color: white;
}

.tabs-md .tab-button[aria-selected=true] .tab-button-icon,
.tabs-md .tab-button[aria-selected=true] {
  color: white;
}
